/* listview */
#list-mobile {
  margin: 7%;
  color: #727272;
}

.card {
  background-color: none !important;
  border: none;
  margin-bottom: 25px;
  overflow: hidden;
}

.card .heading {
  border-bottom: 0.5px solid #979a9c;
  padding-bottom: 10px;
}

.vaga-mobile {
  white-space: nowrap;
}

.vaga-mobile .vaga-nome-mobile {
  display: inline-block;
  width: 85%;
  font-size: 17px;
  font-weight: 600;
}

.fa-circle-dot {
  font-size: 12px;
}

.fa-file {
  font-size: 1rem;
  margin: 0 2%;
}

.card .preview-info,
.card .descricao,
.card .actions {
  padding: 0 8.5% !important;
}

.card .preview-info {
  font-size: 15px;
  margin: 10px 0 15px;
}

.card .preview-info p {
  margin-bottom: 3px;
}

.card .descricao p {
  font-size: 13px;
}

.card .actions {
  margin-bottom: 20px;
}

.card .actions {
  padding-left: 0;
  padding-right: 0;
}

.card .actions .options span {
  margin-right: 10px;
}

.basic-actions span {
  margin-right: 8px;
}

@media screen and (min-width: 1000px) {
  #list-mobile {
    margin: 3%;
  }

  .vaga-mobile {
    width: 100%;
  }

  .vaga-mobile .vaga-nome-mobile {
    width: 92%;
  }

  .card .preview-info,
  .card .descricao,
  .card .actions {
    padding: 0px 5.5% !important;
  }

  .card .preview-info {
    font-size: 15px;
    margin: 20px 0 20px;
  }

  .card .preview-info p {
    margin-bottom: 3px;
  }

  .card .descricao p {
    font-size: 16px;
  }

  .card .descricao {
    margin-bottom: 50px;
  }
}
