body {
  min-height: 100vh;
}

label {
  font-weight: bold;
}

.bg-grey {
  background-color: #979a9c;
}

#mo-content {
  min-height: 50px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#mo-content {
  width: 100%;
}

#content {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.menu-container {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  transition: left 0.6s ease;
  -webkit-transition: left 0.6s ease;
  -moz-transition: left 0.6s ease;
  -ms-transition: left 0.6s ease;
  -o-transition: left 0.6s ease;
}

.menu {
  padding: 5% 10%;
  list-style: none;
  color: #666464;
}

.menu li {
  margin-bottom: 60px !important;
}

.menu h5 {
  border-bottom: 1px solid #979a9c;
  padding-bottom: 3%;
}

.menu-icon-inside {
  display: flex;
  align-items: right;
  justify-content: right;
  cursor: pointer;
  height: 60px;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.menu-container.open {
  left: 0; /* Slide menu in from left */
  background-color: #d8d8d8;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.menu.theme {
  position: absolute;
  bottom: 0;
  opacity: 1;
}

.menu.theme i:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

/* topbar */
header {
  position: sticky;
  z-index: 1;
  top: 0;
}

#fluid-navigation {
  border-bottom: 1px solid #979a9c;
}

#fluid-navigation.row {
  margin-right: 0;
  margin-left: 0;
}

#fluid-navigation .col-1,
#fluid-navigation .col-11 {
  padding-right: 0;
  padding-left: 0;
}

#fluid-navigation i {
  color: #666464;
  font-size: 20px;
  padding: 10px 15px;
}

#fluid-navigation .fa-chevron-left {
  padding-right: 30px;
}

.search-input {
  display: none;
  position: absolute;
  right: -500px;
  top: -6px;
  z-index: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.search-input input {
  background-color: transparent;
  color: grey;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 7px 10px;
  height: 30px;
  margin: 10px 0 0;
}

.search-input .close-icon {
  padding: 7px 0;
}

.search-input.open {
  display: flex;
  right: 50px !important;
}

/* navbar */
footer {
  background-color: #000000;
  position: sticky;
  bottom: 0;
}

footer img {
  max-height: 30px;
}

/* cursor */
.menu-icon-outside,
.search-icon,
#importar,
#exportar,
#favoritos,
#lixeira,
#configuracoes,
#minhas-oportunidades,
.menu .theme i,
.menu .theme span,
.card .heading,
.edit,
.favorite,
.link,
.delete,
.visit,
.navbar img {
  cursor: pointer;
}

#importar:hover,
#exportar:hover,
#favoritos:hover,
#lixeira:hover,
#configuracoes:hover,
#minhas-oportunidades:hover {
  opacity: 0.6;
}

@media screen and (max-width: 500px) {
  #fluid-navigation .fa-chevron-left {
    padding-right: 15px;
  }
}
