#header-edit,
#form-edit {
    padding: 0 10% 5%;
}

#header-edit {
    padding-top: 10%;
}

#header-edit h2 {
    color: #818588;
}

#header-edit p {
    font-size: 14px;
    color: #6F7274;
    margin-bottom: 0;
}

#header-edit .vaga-sub-header span { 
    font-size: 20px;
    color: #6F7274;
}

#filter-tabs ul li {
    display: inline;
}

#form-edit div {
    border-bottom: 1px solid #5d6062;
    margin-bottom: 30px;
}

#form-edit h3,
#form-edit p {
    color: #5d6062;
}

#form-edit h3 {
    border-bottom: 1px solid #3A4046;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#form-edit label {
    color: #5d6062;
}

#form-edit select option {
    background-color: #282828;
}

#form-edit textarea {
    min-height: 25  0px;
}

#form-edit input,
#form-edit select,
#form-edit textarea {
    display: block;
    background: none;
    border: none;
    width: 100%;

    margin-bottom: 10px;
    color: white;
}

/* Single */
.single {
    padding-bottom: 0!important;
}

.vaga-info {
    margin: 30px 0 15px;
}

.info .rounded {
    border-radius: 5px;
}

.info {
    margin-bottom: 15px;
}

.info i {
    margin-right: 5px;
}

.info i,
.info .grey {
    color: #5D6062;
}

.info .categoria {
    font-size: 13px;
    font-weight: bold;
    padding: 2px 5px;
    margin-left: 20px;
    background-color: #6F7274;
    color: none;
}

.info hr {
    background-color: #3A4046;
    margin-top: 50px;
}

.single-textarea {
    color: #6F7274!important;
}